<div class="wrapper full">
  <div class="container">
    <div class="grid grid-map">
      <main class="grid-item" role="main">
        {{#each phasers as |phaser|}}
          <h1>{{phaser.title}} - {{phaser.emc23_ref}}</h1>
          <div id="world" class="{{phaser.emc23_ref}}"></div>
        {{/each}}
      </main>

      <aside class="grid-item sidebar_first" role="complementary">
        {{ block-console }}
      </aside>

      <aside class="grid-item sidebar_second" role="complementary">

      </aside>

    </div>
  </div>
</div>
{{outlet}}